In [1]:
import psycopg2
import numpy as np
import psycopg2.extras as extras
import pandas as pd
from datetime import date

In [11]:
df_bibli = pd.read_csv(r'data\bibliotecas\2022-October\bibliotecas-12-10-2022.csv')
df_cines = pd.read_csv(r'data\cines\2022-October\cines-12-10-2022.csv')
df_museos = pd.read_csv(r'data\museos\2022-October\museos-12-10-2022.csv')

In [12]:
colum_nor = ['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
            'provincia','localidad','nombre','domicilio','codi_postal','nume_de_telefono','mail','web']

In [4]:
df_bibli.columns

Index(['Cod_Loc', 'IdProvincia', 'IdDepartamento', 'Observacion', 'Categoría',
       'Subcategoria', 'Provincia', 'Departamento', 'Localidad', 'Nombre',
       'Domicilio', 'Piso', 'CP', 'Cod_tel', 'Teléfono', 'Mail', 'Web',
       'Información adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'año_inicio', 'Año_actualizacion'],
      dtype='object')

In [13]:
df_bibli.rename(columns={'Cod_Loc':'cod_localidad', 'IdProvincia':'id_provincia', 'IdDepartamento':'id_departamento', 'Categoría':'categoria', 
                          'Provincia':'provincia', 'Localidad':'localidad', 'Nombre':'nombre', 'Domicilio':'domicilio', 'CP':'codi_postal', 
                          'Teléfono':'nume_de_telefono', 'Mail':'mail', 'Web':'web'}, inplace=True)

In [36]:
df_bibli_final = df_bibli[['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
            'provincia','localidad','nombre','domicilio','codi_postal','nume_de_telefono','mail','web']].copy()

In [18]:
df_cines.columns

Index(['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
       'provincia', 'departamento', 'localidad', 'nombre', 'direccion', 'piso',
       'cp', 'web', 'latitud', 'longitud', 'tipo_latitud_longitud', 'fuente',
       'sector', 'pantallas', 'butacas', 'tipo_de_gestion', 'espacio_incaa',
       'año_actualizacion'],
      dtype='object')

In [21]:
df_cines.rename(columns={'direccion':'domicilio', 'cp':'codi_postal'}, inplace=True)

In [23]:
df_cines_final = df_cines[['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
            'provincia','localidad','nombre','domicilio','codi_postal','web']].copy()

In [43]:
df_cines_final[['nume_de_telefono','mail']] = 0, 0

In [27]:
df_museos.columns

Index(['Cod_Loc', 'IdProvincia', 'IdDepartamento', 'Observaciones',
       'categoria', 'subcategoria', 'provincia', 'localidad', 'nombre',
       'direccion', 'piso', 'CP', 'cod_area', 'telefono', 'Mail', 'Web',
       'Latitud', 'Longitud', 'TipoLatitudLongitud', 'Info_adicional',
       'fuente', 'jurisdiccion', 'año_inauguracion', 'actualizacion'],
      dtype='object')

In [28]:
df_museos.rename(columns={'Cod_Loc':'cod_localidad', 'IdProvincia':'id_provincia', 'IdDepartamento':'id_departamento', 'direccion':'domicilio', 'CP':'codi_postal', 
                          'telefono':'nume_de_telefono', 'Mail':'mail', 'Web':'web'}, inplace=True)

In [33]:
df_museos_final = df_museos[['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
            'provincia','localidad','nombre','domicilio','codi_postal','nume_de_telefono','mail','web']].copy()

In [48]:
df_principal=pd.concat([df_bibli_final, df_museos_final, df_cines_final] , join="inner" , ignore_index=True)

In [54]:
df_cines.columns

Index(['cod_localidad', 'id_provincia', 'id_departamento', 'categoria',
       'provincia', 'departamento', 'localidad', 'nombre', 'domicilio', 'piso',
       'codi_postal', 'web', 'latitud', 'longitud', 'tipo_latitud_longitud',
       'fuente', 'sector', 'pantallas', 'butacas', 'tipo_de_gestion',
       'espacio_incaa', 'año_actualizacion'],
      dtype='object')

In [55]:
df_cine_principal=df_cines[["provincia","pantallas","butacas","espacio_incaa"]]
df_cine_principal=df_cine_principal.rename(columns={"pantallas":"cant_pantallas","butacas":"cant_butacas","espacio_incaa":"cant_espacio_incaa"})

In [56]:
df_cine_principal

        provincia  cant_pantallas  cant_butacas cant_espacio_incaa
0    Buenos Aires               1           500                 No
1    Buenos Aires               1           410                 No
2    Buenos Aires               1           165                 No
3    Buenos Aires              10          2505                 No
4    Buenos Aires               4           710                 No
..            ...             ...           ...                ...
311       Tucumán               5          1051                 No
312       Tucumán               1           183                 Si
313       Tucumán               1            36                 No
314       Tucumán               5           750                 No
315       Tucumán               6          1295                 No

[316 rows x 4 columns]

In [60]:
today = date.today()

In [61]:
# Ingresamos la fecha de carga 
df_cine_principal["upload_date"]=today.strftime("%Y-%m-%d")
df_principal["upload_date"]=today.strftime("%Y-%m-%d")

In [9]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
        #break
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

In [ ]:
from tkinter import E
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

df = pd.read_csv("/home/dio-pc/Escritorio/trans_etl/data/bibliotecas/2022-October/bibliotecas-12-10-2022.csv")


try:
    conex = create_engine("postgresql+psycopg2://{}:{}@{}/{}".format("admin","admin","172.17.0.1:3333", "alkemy"))
    conexpostgres = conex.connect()
    metadatas = sqlalchemy.MetaData()
    df.to_sql("caca", conexpostgres, if_exists="append", index=False)
    print("Vamo Loco")
except E:
    print(E)